---
# CSS
---
// SLATE CSS

@import "variables";
@import "slate";
@import "series";
@import "toc";

img {
  max-width: 80%;
  display: block;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  margin-top: 2rem;
  max-height: 50vh;
}
