---
layout: default
---

<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-custom navbar-dark fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand page-scroll" href="/">{{ site.title }}</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav ml-auto">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="nav-item hidden">
                    <a class="nav-link" href="#page-top"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs">Docs</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- TOC -->
<nav id="toc" class="toc toc-navbar">
</nav>


<div class="center-content">
  <main>
    <article class="post">
      <h1 class="post-title">{{ page.title | smartify }}</h1>

      <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_long_string: "ordinal", "US" }}</time>
      <div class="categories">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% if categories -%}
        {%- for category in categories -%}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {%- unless forloop.last %}&nbsp;{% endunless -%}
        {% endfor %}
        {% endif %}
        {%- if page.last_modified_at -%}
        <br><i>Last updated on: {{ page.last_modified_at | date_to_long_string: "ordinal", "US" }}</i>
        {%- endif -%}
      </div>

      <br>
      <div class="post-content">
        {{ content | smartify }}
      </div>

      {% assign count = '0' %}
      {% assign idx = '0' %}
      {% for post in site.posts reversed %}
          {% if post.series.name == page.series.name %}
              {% capture count %}{{ count | plus: '1' }}{% endcapture %}
              {% if post.url == page.url %}
                  {% capture idx %}{{count}}{% endcapture %}
              {% endif %}
          {% endif %}
      {% endfor %}

      {% if page.series %}
        <hr>
        <h3>Series</h3>
        <h4 class="series-title">{{ page.series.name }}</h4>
        <div>{{ page.series.description }}</div>
        {% assign series-name = page.series.name %}
        {% include series-box.html %}
      {% endif %}
    </article>
  </main>
</div>
